# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environments
.venv
venv
env

# Python cache
__pycache__/
*.pyc

# File konfigurasi lokal
.env

# File dokumentasi & catatan
*.md
README.md

# File model besar (pastikan tidak ada di repo)
*.h5
*.pt
*.pkl

# Direktori data atau dataset
data/
datasets/